TF_Content: |-
  #!/bin/sh
  12345
  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: voter
  title: BhhavyaRSureka/voter
  owner: BhhavyaRSureka
  default_branch: main
  id: 542994980
TF_Branch: main
TF_Git_path: ''
TF_Uninstall: |-
  #!/bin/sh
  abc123
  terraform destroy
lastUpdatedBy: Bhhavya Sureka
lastUpdatedOn: 2022-10-03T07:06:24.635Z
